@import url('normalize.css');

::selection {
  background: var(--color-blue);
  text-shadow: none;
}

:root {
  --color-white: white;
  --color-black: black;
  --color-blue: #00a0b0;
  --color-brown: #6a4a3c;
  --color-red: #cc333f;
  --color-orange: #eb6841;
  --color-yellow: #edc951;
  --color-lightgrey: #cccccc;
  --color-medgrey: #777777;
  --color-shadow-grey: var(--color-lightgrey);
  --layout-page-gutter: 1em;
  --layout-max-content-width: 1000px;
}

@custom-media --only-taller-screens only screen and (min-height: 600px);
@custom-media --narrow-screens only screen and (min-width: 480px);
@custom-media --mediumwide-screens only screen and (min-width: 768px);
@custom-media --superwide-screens only screen and (min-width: 1000px);

html,
body {
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
  height: 100%;
  color: var(--color-black);
  font-size: 1em;
  line-height: 1.4;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--color-lightgrey);
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &:first-child {
    margin-top: 0;
  }
}

.browsermsg,
.noscript {
  margin: 0;
  background: var(--color-red);
  color: var(--color-white);
  padding: 0.4em var(--layout-page-gutter);
  text-align: center;
  flex: 0 1 auto;
  display: none;
}

.browsermsg {
  @nest html.no-flexbox & {
    display: block;
  }

  @nest html.flexbox & {
    display: none;
  }
}

div#debugInfo {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 3px 2px 2px;
  background-color: var(--color-lightgrey);
  font-size: smaller;
  line-height: 80%;

  &:hover {
    opacity: 0.1;
  }
}

#container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 100%;

  & > header {
    flex: 0 1 auto;
    background: var(--color-blue);
    border-bottom: 5px solid var(--color-yellow);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: baseline;
    padding: 0 var(--layout-page-gutter);

    @media (--only-taller-screens) {
      border-bottom-width: 20px;
    }

    & > h1.title {
      flex: 1 0 auto;
      margin: 0.5em 0;

      & > a,
      & > a:visited,
      & > a:hover {
        color: var(--color-white);
        text-decoration: none;
      }
    }

    & > nav {
      flex: 1 0 auto;
      margin-left: 1em;

      & > ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 100%;
        width: 100%;
        align-content: stretch;
        align-items: center;

        & > li {
          flex: 0 0 auto;
          padding: 0 10px;

          & > a {
            display: block;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            color: var(--color-white);

            &:visited {
              color: var(--color-white);
            }

            &:hover {
              color: var(--color-white);
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  & > main {
    flex: 1 1 auto;
    padding: 2em var(--layout-page-gutter);

    @media (--narrow-screens) {
      & .float-right {
        float: right;
        margin: 0.1em 0 0.1em 1em;
        text-align: left;
        max-width: 50%;
      }

      & .float-left {
        float: left;
        margin: 0.1em 1em 0.1em 0;
        text-align: left;
        max-width: 50%;
      }
    }

    & aside {
      color: var(--color-white);
      padding: 0 5% 10px;
      margin: 1em;
      background: var(--color-red);
      border-top: 5px solid var(--color-yellow);

      @media (--only-taller-screens) {
        border-top-width: 20px;
      }
    }

    & h1 {
      font-size: 2em;
    }

    & p {
      text-align: justify;
    }

    & img {
      max-width: 100%;
    }

    & figure {
      align-items: stretch;
      border-bottom: 1px solid var(--color-lightgrey);
      border-top: 1px solid var(--color-lightgrey);
      display: flex;
      flex-direction: column;
      margin: 0;
      max-width: 100%;
      padding: 1em 0;
      text-align: center;

      &:first-child {
        border-top: none;
      }

      & img {
        border: 1px solid var(--color-lightgrey);
        padding: 1%;
        max-width: 98%;
        flex: 0 1 auto;
      }

      & figcaption {
        font-size: 1em;
        margin: 0.5em 0 0 0;
        flex: 1 1 auto;

        & h4 {
          font-size: 1em;
          margin: 0 0 0.2em 0;
        }

        & p {
          margin: 0;
          font-size: 95%;
          line-height: 1;
          text-align: center;

          @media (--narrow-screens) {
            text-align: left;
          }
        }
      }
    }

    & pre {
      max-width: 100%;
      white-space: pre-wrap;
    }

    & ul.pill-list {
      list-style: none;
      margin: 0;
      padding: 0;

      & > li {
        margin: 0.1em 0.3em;
        padding: 0.1em 1em;
        background-color: var(--color-blue);
        display: inline-block;
        border-radius: 1em;
      }
    }

    & .lastModified {
      margin-top: 2em;
      font-size: smaller;
    }

    &.section-resume {
      & > section {
        padding: 2em 0;

        &:first-child {
          padding-top: 0;
        }

        & + section {
          border-top: 4px solid var(--color-blue);
        }

        & > *:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
        }

        & > h2 {
          margin: 0;
        }

        & > div {
          padding: 1em 0;

          & + div {
            border-top: 1px solid var(--color-grey);
          }

          & > *:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
          }

          & > header {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: baseline;
            margin: 0 0 1em 0;

            & h3 {
              margin: 0;

              & > a {
                color: initial;
                text-decoration: none;

                &:hover {
                  text-decoration: underline;
                }
              }
            }

            & .position,
            & .roles {
              font-weight: bold;
            }

            & .date-location {
              text-align: right;
            }
          }
        }

        &.about {
          & h1 {
            display: none;
          }

          & .portrait {
            float: left;
            margin: 0 1em 1em 0;
          }

          & > dl {
            clear: both;
          }
        }

        &.references {
          & blockquote {
            margin: 0;
            padding-left: 1em;
            border-left: 2px solid var(--color-blue);
          }
        }
      }

      & dl {
        & dt {
          float: left;
          clear: left;
          width: 10em;
        }
      }
    }
  }

  & > footer {
    flex: 0 1 auto;
    background: var(--color-blue);
    color: var(--color-white);
    padding: 1em var(--layout-page-gutter);
    border-top: 5px solid var(--color-yellow);

    @media (--only-taller-screens) {
      border-top-width: 20px;
    }
  }
}

#contentInfo {
  background: black;
  color: white;
  display: none;
  padding: 1em var(--layout-page-gutter);

  & > div.error {
    color: red;
  }
}

@media (--narrow-screens) {
  :root {
    --layout-page-gutter: 2em;
  }
}

/* Maximal Width */
@media (--superwide-screens) {
  :root {
    --layout-page-gutter: calc(2em + (100% - var(--layout-max-content-width)) / 2);
  }
}

@media print {
  *,
  *::before,
  *::after {
    background: transparent !important;
    color: var(--color-black) !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  h1.title a::after {
    content: "";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid var(--color-black);
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
