source ~/.zshenv.local
my-creds

export DOCKER_MACHINE_NAME=default
eval $(docker-machine env $DOCKER_MACHINE_NAME)

source ~/.dotfiles/shell_functions.sh
load-nvm

export PATH="$PWD/node_modules/.bin:$PATH"
