.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: stretch;
}

.content {
  /* max-width: 60rem; */
  padding: 1rem 0.75rem;
  flex-grow: 1;

  & header time {
    font-size: 0.9em;
  }
}
