{{ partial "header.html" . }}

<div id="wrapper">
  <header id="header">
    <div class="logo">
      {{ with .Site.Params.logoimage }}
      <img src="{{ . }}" width="100%" style="padding: 10px 10px 10px 10px;">
      {{ end }}
      {{ with .Site.Params.logo }}
      <span class="icon {{ . }}"></span>
      {{ end }}
    </div>
    <div class="content">
      <div class="inner">
        <h1>{{ .Site.Title | safeHTML }}</h1>
        <p>{{ .Site.Params.description | safeHTML }}</p>
      </div>
    </div>
    <nav class="error">
      <div id="error">
        404 Page not found! Go&nbsp;<a href="/">home</a>?
      </div>
    </nav>
  </header>

  <div id="languages" ></div>

{{ partial "footer.html" . }}
