:root {
  --nav-item-padding: 0.5rem;
}

.header {
  color: #eee;
  background: #111;

  & nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0 var(--nav-item-padding);
    line-height: calc(4.2 * var(--nav-item-padding));

    & > div {
      display: flex;
      flex-direction: row;

      & a {
        padding: 0 var(--nav-item-padding);

        color: inherit;
        text-decoration: none;

        &:hover {
          background: rgba(255, 255, 255, 0.3);
        }

        & svg {
          fill: currentColor;
          opacity: 1;
          width: 1rem;
          height: 1rem;
        }

        & .label {
          margin-left: var(--nav-item-padding);
          display: none;
        }
      }
    }
  }
}

.siteTitle {
  font-weight: bolder;
}
