header#header
	margin: 0 0 4em
	text-align: center
	/* padding: 8em 0; */

	.subname
		font-size: 1.2em
		line-height: 2
		margin-top: 1em
		color: white

	svg#logo
		width: 15em
		display: inline !important

hr
	border-color: #888

h1, h2, h3, h4, h5, h6
	&:first-child
		margin-top: 0

.container-fluid
	max-width: 70em

#container
	text-align: justify
	min-height: 500px

	section
		&.about
			.summary
				// padding-right: 6em
				max-width: 70em
			.portrait
				max-width: 6em
				padding-left: 1em

		&.work, &.volunteer
			.date-location
				text-align: right
				padding-top: 2px
			.position
				clear: left
				margin: 0 0 0 1em
			header
				margin-bottom: 1em
				h3
					margin: 0
		&.references
			blockquote.reference
				border-left-color: #ADADAD
				font-size: 1.1em

	.list-badges.list-inline li
		margin: 5px
		background-color: #B3CBE0
		border-radius: 5px

	nav.home-page > .list-inline > li
		padding: 0.5em 0
		border-right: 1px solid #ADADAD
		width: 10em

		&:last-child
			border-right: none

	dl.dl-horizontal
		margin-bottom: 0

		dt
			text-align: left
		dd
			address
				margin: 0

	hr.range:last-child
		display: none

	h1
		font-size: 2em
	h2
		font-size: 1.5em
	h3
		font-size: 1.4em
	h4
		font-size: 1.3em
	h5
		font-size: 1.2em
	h6
		font-size: 1.1em

footer#footer
	// background-color: #5A5A5A
	// color: white
	margin-top: 2em
	padding: 1em 0
	p
		font-size: 80%

@media screen
	body
		background-color: #ecebe8
		font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif

	svg#logo path
		fill: #ffffff !important

	header#header
		background:
			color: #61656e
			image: url('/background.jpg')
			repeat: no-repeat
		color: white
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.81)

@media screen
	header#header
		min-height: 12em
		padding: 3em

	@media (min-width: 1201px)
		header#header
			background:
				size: 100% auto
				position: 50% 33%

	@media (max-width: 1200px)
		header#header
			background:
				size: 1200px auto
				position: 50% 33%

	@media (max-width: 800px)
		header#header
			min-height: 8em
			padding: 1em

			svg#logo
				width: 10em
			.subname
				margin: 0


	// @media (max-height: 400px)
	//	body
	//		font-size: 0.6em

	//	header#header
	//		min-height: 1em
	//		padding: 1em

	//		svg#logo
	//			width: 5em !important
	//			float: left

	//		.subname
	//			font-size: 1em
	//			margin-top: 0
	//			text-align: right

	//	#container
	//		margin: 2em
